<h1>you fell in love with:
    <%= thingVar.toUpperCase() %>
</h1>

<% if (thingVar.toLowerCase() === "rusty"){ %>
    <p>good choice Rusty are the best</p>
    <% } %>

        <p>PS this is the love .ejs fil</p>