h1 {
  text-align: center;
}
table{
  margin: auto;
}
td{
  height: 100px;
  width: 100px;
}
.vertical {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.horizontal {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/*tr td:nth-of-type(2){
  border-style: solid;
  border-bottom: 2px;
  border-top: 2px;
  border-width: 1px;
}
tr:nth-of-type(2) td{
  border-style: solid;
  border-left: 2px;
  border-right: 2px;
  border-width: 1px;
}
tr:nth-of-type(2) td:nth-of-type(2){
  border: 1px solid;
}*/
